.git
.gitignore
.next
out
build
dist
coverage
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
.vscode
.idea
.vercel
*.md
*.log
.DS_Store
Thumbs.db
*.tsbuildinfo
Dockerfile*
docker-compose*
nginx
certs
.cursor
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
